#user-orders {
  display: none;
}

body {
  background-color: rgb(6, 219, 6)
}

.jumbotron {
  background-color: rgb(236, 236, 15)
}
.panel-title {
  font-size: 500;
  background-color: rgb(236, 236, 15);
}
.panel-body {
  background-color: rgb(236, 236, 15);
}